.content__birthdays {
  margin-top: 32px;
}

.content__birthdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  /* border: 1px solid black; */
}

.birthdays__month {
  margin-top: 12px;

  /* box-shadow: 0px 0px 30px -13px var(--white40tint); */
  padding: 15px 20px;
  /* border-top: 2px solid var(--red20tint); */
  /* border-bottom: 3px solid var(--red10tint); */
  /* border-top-left-radius: 22px;
  border-top-right-radius: 22px; */
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 10px;
}

.month__name {
  font-size: 26px;
  font-weight: 600;
}

.month__day {
  margin-left: 16px;
}

.day__text {
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 600;
  color: var(--white80tint);
}
.birthdayCard {
  margin-left: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.birthdayCard__img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  margin-right: 10px;
}

.birthdayCard__name {
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  color: var(--white90tint);
}
.birthdayCard__info {
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  color: var(--white80tint);
}
