content(class="group")
    div(class="group__topContent")
        img(src="/imgs/pictures/bugatti.jpg" alt="group's background" class="group__backgroundImage")
        div(class="topContent__container")
            div(class="topContent__details")
                h1(class="topContent__name") Group's name 
                div(class="topContent__details__bottom")
                    div(class="topContent__privacy")
                        img(class="topContent__icon icon--small" src="/imgs/icons/lock-closed.png" alt="privacy")
                        h1(class="topContent__description description--privacy") Private group 
                    h1(class="topContent__description") 10k Members
            div(class="topContent__buttons")
                button(class="topContent__btn topContent__btn--large topContent__btn--red") Join group
                button(class="topContent__btn topContent__btn--small topContent__btn--gray") 
                    img(src="/imgs/icons/settings.png", alt="")
        div(class="topContent__navbar")
            a(class="topContent__element topContent__element--active" href="/group/59297827859872395982") About
            a(class="topContent__element" href="/group/59297827859872395982") Discussion
