div(class="postCreatorDisplayer__topContent" tabindex="0" role="button")
    img(class="postCreatorDisplayer__topContent__profile" src=`${loggedUser.profileImage}` alt="Post creator displayer")
    div(class="postCreatorDisplayer__topContent__container")
        h1(class="postCreatorDisplayer__topContent__container__header") Hey, whats going on?
hr
div(class="postCreatorDisplayer__bottomContent")
    //- div(class="postCreatorDisplayer__bottomContent__moviesImages") 
    //-     img(class="postCreatorDisplayer__bottomContent__images" src="/imgs/icons/images.png")
    //-     h1(class="postCreatorDisplayer__bottomContent__moviesImages__header") Movies/Images
    //- div(class="postCreatorDisplayer__bottomContent__emojies") 
    //-     img(class="postCreatorDisplayer__bottomContent__emojies" src="/imgs/icons/emojies.png")
    //-     h1(class="postCreatorDisplayer__bottomContent__emojies__header") Emojies