.posts {
  /* margin-top: 8%; */
}
.posts-notification {
  margin-top: 64px;
}

.postCard__details {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  margin-bottom: 1%;
}
.postCard {
  height: auto;

  background-color: rgb(255, 255, 255);
  /* background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 245, 245, 1) 99%
  ); */
  border-radius: 12px;
  /* box-shadow: 0 4px 8px 0 var(--white20tint); */
  box-shadow: 0 4px 8px 0 #d5d5d5;

  margin-bottom: 12%;

  width: 640px;
  /* border-top: 2px solid var(--white20tint); */

  transition: border 0.3s linear;
}

.postCard--active {
  border: 0.1px solid var(--white20tint);

  /* position: absolute; */

  /* z-index: 3; */
  /* margin-right: 200px; */
}

.postCard__twoImages,
.postCard__threeImages {
  display: flex;
  flex-direction: column;
}

.postCard__twoImages__firstImage,
.postCard__twoImages__secondImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.postCard__threeImages__firstImage,
.postCard__threeImages__secondImage,
.postCard__threeImages__thirdImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.postCard__author {
  display: flex;
  align-items: center;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 1.5%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* background: var(--white2tint); */

  box-shadow: 0px 17px 14px -14px var(--white6tint);
}

.postCard__avatar {
  width: 39px;
  height: 39px;
  border-radius: 100%;
  margin-right: 10px;
}

.postCard__authorDetails {
  display: flex;
  flex-direction: column;
}

.postCard__setting--open {
  margin-left: auto;
  margin-right: 36px;

  width: 23px;
  height: 23px;
  opacity: 0.8;
  /* animation-duration: 1s; */
  /* animation-fill-mode: both; */

  transition: transform 0.3s;
}
.postCard__setting--back {
  margin-left: auto;
  margin-right: 36px;
  opacity: 0.8;
}

.postCard__setting--back:hover {
  cursor: pointer;
  animation: rotate 0.7s linear;
}

.postCard__setting--open:hover {
  cursor: pointer;
  /* animation: rotate 1.7s infinite; */
  animation: rotate 2.3s infinite;
}

/* .postCard__setting--open:active {
  transform: scale(1.1);
} */

.postCard__name {
  font-size: 18px;
  font-weight: 700;
  color: var(--white90tint);
}

.postCard__createdAt {
  font-size: 12px;
  font-weight: 400;
  color: var(--white70tint);
}

.postCard__postText {
  padding: 10px 21px;
  padding-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white70tint);
}

.postCard__images {
  width: 100%;
  background-color: var(--white2tint);
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.postCard__images[data-images-count="1"] {
  justify-content: center;
}

.postCard__images[data-images-count="1"] img {
  min-height: 300px;
  width: auto;
  max-height: 500px;
}

.postCard__images__one__firstImage {
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
  height: 350px;
}

/* postCard__images__two */
/* horizontally Aligned */
.postCard__images__two--horizontallyAligned {
  display: flex;
  flex-direction: column;
}

.postCard__images__two__firstImage--horizontallyAligned {
  max-width: 100%;
  width: 100%;
  max-height: 240px;
  height: auto;
}
.postCard__images__two__secondImage--horizontallyAligned {
  max-width: 100%;
  width: 100%;
  max-height: 240px;
  height: auto;
}

/* verticallyALigned */
.postCard__images__two--verticallyAligned {
  display: flex;
}
.postCard__images__two__firstImage--verticallyAligned,
.postCard__images__two__secondImage--verticallyAligned {
  max-height: 500px;
  width: 500%;
  /* min-height: 200px; */
  height: auto;
}

/* POSTCARD with 3 IMAGES */
.postCard__images__three--horizontallyAligned {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 175px 325px;
  /* max-height: 500px; */
}
.postCard__images__three__firstImage--horizontallyAligned,
.postCard__images__three__secondImage--horizontallyAligned {
  width: 100%;
  height: 100%;
}

.postCard__images__three__thirdImage--horizontallyAligned {
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
}

.postCard__interactions {
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5% 3%;
  padding-bottom: 0.5%;
  margin-top: 3%;
  /* border-top: 1px solid #c3c6c6; */
  /* border-bottom: 1px solid #c3c6c6; */
  box-shadow: 0 18px 15px -15px var(--white10tint);
}

.interactions__reactions,
.interactions__comments {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  padding: 5px 30px;
}

.interactions__comments:hover {
  background-color: var(--white2tint);
  cursor: pointer;
}

.interactions__reactions:hover {
  background-color: var(--white2tint);
  cursor: pointer;
}

.interactions__comments {
  display: flex;
  justify-content: center;
}

.postCard__interactions__button__header {
  font-size: 18px;
  margin-left: 6.5%;
}

.postCard__comments {
  display: flex;
  flex-direction: column;
}

.postCard__comments hr {
  width: 98%;
  margin-left: 1%;
}

.interactions__text {
  font-weight: 500;
  font-size: 18px;
  padding-left: 10px;
}

.interactions__text[data-status="not-active"] {
  font-size: 16px;
}

.interactions__text[data-status="active"] {
  font-size: 17px;
}

.interactions__text--red {
  color: var(--red);
}

.interactions__text--green {
  color: rgb(16, 188, 16);
}

/* ############## */
/* settings */
.postCard__settings {
  display: flex;
  flex-direction: column;

  margin-top: 8px;
  margin-bottom: 24px;
}

.settings__description {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 14px;
}

.settings__menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.menu__option {
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  border: none;

  margin-bottom: 10px;
  color: var(--white70tint);
  transition: color 0.3s;
  padding: 0;
}

.menu__option[data-open-menu="delete-post"] {
  color: var(--red);
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 5px;
}

.menu__option:hover {
  cursor: pointer;
  font-weight: 500;
  color: var(--white80tint);
}

.menu__option[data-open-menu="delete-post"]:hover {
  font-weight: 600;
  color: var(--red10tint);
}

.settings__description {
  display: flex;
  flex-direction: column;
}

.description__heading {
  font-size: 18;
  font-weight: 500;
  color: var(--white80tint);
}

.description__textarea {
  background-color: transparent;
  resize: none;
  overflow-y: scroll;
  margin-top: 4px;
  padding: 4px 9px;
  font-size: 14px;
  min-height: 17px;
  height: 26px;
  max-height: 300px;

  border: none;
  padding-bottom: 3px;
  border-bottom: 0.5px solid var(--white6tint);
  margin-right: 10px;

  color: var(--white70tint);
  font-weight: 400;
}

.description__textarea::-webkit-scrollbar {
  width: 7px;
}

.description__submit,
.V-P__submit {
  margin-left: auto;
  margin-right: 30px;
  width: 120px;
  font-size: 15px;
  padding: 3px 6px;
  margin-top: 30px;
}

.settings__Visibility-Privacy {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.V-P__dsc {
  font-weight: 500;
  color: var(--white80tint);
  margin-top: 5px;
  font-size: 17px;
  margin-bottom: 3px;
}

.V-P__select {
  border: none;
  padding-bottom: 3px;
  margin-bottom: 8px;
  border-bottom: 2px solid var(--white30tint);
  margin-left: 12px;
}

/* =================== */
/* ban-user */
.settings__ban-users,
.ban-users__top,
.ban-users__bottom,
.ban-users__submit {
  display: flex;
  flex-direction: column;
}
.settings__ban-users {
  margin-left: 30px;
  margin-right: 30px;
}

.ban-users__top {
  height: 280px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  border-bottom: 2px dashed var(--white30tint);
}

.ban-users__bottom {
  height: 260px;
}
.ban-users__submit {
}

.ban-users__header {
  align-self: center;
  font-size: 18px;
  color: var(--white80tint);
}

.ban-users__input {
  align-self: center;
  width: 85%;
  margin-top: 10px;

  padding: 4px 14px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white60tint);

  border: none;
  border-radius: 6px;
  border-bottom: 2px solid var(--white30tint);
}

.ban-users__input--active {
  width: 90%;
  align-self: center;
  animation: input85-100 0.3s ease-in-out;
}

.ban-users__cards {
  margin-top: 15px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  column-gap: 5px;
  row-gap: 23px;

  height: 230px;
  overflow-y: scroll;
}

.ban-users__cards::-webkit-scrollbar-track {
  background-color: transparent;
}

.ban-users__cards::-webkit-scrollbar {
  width: 6px;
}

.ban-users__content {
  display: flex;
  width: 180px;
  height: 40px;
  background-color: var(--white2tint);
  border-radius: 30px;
}

.ban-users__img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-right: 10px;
}

.ban-users__name {
  font-weight: 500;
  font-size: 15px;
  color: var(--white70tint);
  margin-top: 5px;
}

.ban-users__btn {
  background-color: transparent;
  border-radius: 100%;
  border: none;
  position: absolute;
  margin-left: 161px;
  margin-top: -5px;

  transition: transform 0.3s;
}

.ban-users__btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  animation: rotate 2s ease-in-out;
}

.submit__btn {
  width: 80%;
  font-size: 17px;
  background-color: var(--white4tint);
  border: 1px solid var(--white6tint);
  align-self: center;

  transition: background-color 0.3s ease-in-out;
}

.submit__dsc {
  align-self: center;
  width: 79%;
  font-size: 12px;
  margin-top: 3px;
}

.settings__delete-post {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin-left: 10%;
  margin-right: 10%;
}

.delete-post__text {
  font-size: 23px;

  font-weight: 600;
  color: var(--white80tint);
}

.delete-post__btns {
  display: flex;
  column-gap: 5px;

  margin-top: 20px;
}

.delete-post__cancel {
  background-color: transparent;
  font-size: 15px;
  padding: 6px 10px;

  color: var(--red);

  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  border: none;
  border-radius: 6px;
}

.delete-post__submit {
  /* width: 110%; */

  font-size: 15px;
  padding: 6px 15px;
  font-weight: 400;

  background-color: var(--red);
  border: none;
  color: #fff;

  transition: background-color 0.3s ease-in-out;
  border-radius: 6px;
}

.delete-post__submit:hover {
  background-color: var(--red10tint);
  cursor: pointer;
  /* font-weight: 500; */
}

.delete-post__cancel:hover {
  cursor: pointer;

  /* background-color: var(--red); */
  background-color: var(--white2tint);
}

.info {
  width: 640px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  padding: 30px 10px;
  border-radius: 12px;

  box-shadow: 0 0 13px -8px var(--white90tint);
}

.info__img {
  width: 130px;
  height: 130px;
}

.info__text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--white80tint);
  width: 63%;
}
