::-webkit-scrollbar-track {
  border: 5px solid var(--white);

  background-color: var(--white20tint);
}

::-webkit-scrollbar {
  width: 13px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 10px;
}
